apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: sample-app
  namespace: default
  labels:
    app: sample-app
spec:
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
        - name: sample-app
          image: ghcr.io/didiberman/terraform-k8s-argocd-cicd-pipeline:sha-824ed2f5794e3b91d4faef3f6926e980d304ece6
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: BG_COLOR
              value: "#22c55e" # BG_COLOR - Managed by Update App Color Action
            - name: NODE_LOCATION_FILE
              value: "/app/config/location"
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            limits:
              memory: "128Mi"
              cpu: "250m"
          volumeMounts:
            - name: node-location
              mountPath: /app/config/location
              readOnly: true
      volumes:
        - name: node-location
          hostPath:
            path: /etc/node-location
            type: File
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
