apiVersion: batch/v1
kind: Job
metadata:
  generateName: smoke-test-
  namespace: default
  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  template:
    spec:
      containers:
        - name: curl
          image: curlimages/curl
          command:
            ["curl", "-f", "http://sample-app.default.svc.cluster.local:80"]
      restartPolicy: Never
  backoffLimit: 2
